{% extends 'base.html' %}

{% block title %}
Home {% endblock title %}

{% block content %}

<div>
    <div class="row">
        <div class="col s4">
            <h4>Active Tasks</h4>
            {% if active %}
            {% for task in active %}
            {% include 'includes/card.html' %}
            {% endfor %}
            {% else %}
            <h5>No active tasks</h5>
            {% endif %}
        </div>
        <div class="col s4">
            <h4>Completed Tasks</h4>
            {% if inactive %}
            {% for task in inactive %}
            {% include 'includes/card.html' %}
            {% endfor %}
            {% else %}
            <h5>No completed tasks</h5>
            {% endif %}
        </div>
        <div class="col s4">
            {% if form %}
            <h4>Create New Task</h4>
            <form class="col s12" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.title }}
                        <label for="password">Give it a Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="input-field col s12">
                          {{ form.description }}
                          <label for="textarea1">Describe your task</label>
                        </div>
                      </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Create
                    <i class="material-icons right">send</i>
                </button>
    
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}